<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indapp.mypalampuri100daroodapp">

    <application
        android:exported="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:exported="true" android:name="com.indapp.mypalampuri100daroodapp.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.indapp.mypalampuri100daroodapp.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.indapp.mypalampuri100daroodapp.CurlActivity"  android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.indapp.mypalampuri100daroodapp.AboutDeveloper"
            android:label="AboutDeveloper"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" >
        </activity>

        <provider
            android:authorities="com.your.app.package"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>